<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Viddesh | Videos</title>

  <%= render 'layouts/links' %>


</head>
<body>
<section class="hero is-dark is-large section_home">

      <%= render 'layouts/navbar' %>
      <%= render 'work/videoPageContent' %>

</section>

<%= render 'layouts/scripts' %>
<%= render 'layouts/footer' %>


</body>
</html>